<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- 注解的方式配置 springmvc-servlet.xml -->
	
	<!-- spring扫描器：自动扫描类中的注解，可以扫描controller包、service包等 -->
	<context:component-scan base-package="com.ssm.controller"></context:component-scan>
	
	<!-- springmvc的自动配置处理器映射器和处理器适配器 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 配置视图解析器：解析jsp，默认解析jstl风格标签 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	
		<!-- 配置视图解析器的jsp解析为jstl风格标签 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		
		<!-- 配置jsp视图的路径的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		
		<!-- 配置jsp视图的路径的后缀 -->
		<property name="suffix" value=".jsp" />
		
	</bean>
	
</beans>